header{
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
}

nav ul{
    list-style-type: none;
    display: flex;
}

ul li{
    display: inline;
    margin-left: 10px;
}

ul li a{
    margin-right: 2rem;
    text-decoration: none;
}

nav{
    display: flex;
}