body{
  margin: 0;
  padding: 0;
  background-image: url(../src/movie/img/pattern.jpg);
}

.container {
  margin: 5rem auto 0 auto;
  width: 80%;
  background-color: whitesmoke;
  padding: 2rem;
}

.container h1{
  text-align: center;
  padding: .5rem;
}

.article-list{
  text-align: justify;
}

table{
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}

th, td{
  padding: 8px;
  border: 1px solid #ddeeee;
  color: #333;
  text-shadow: 1px 1px 1px #fff;
}

thead{
  text-align: center;
  background-color: #ddefef;
  border: solid 1px #ddefef;
  color: #336b6b;
}

td{
  text-align: left;
}

p{
  margin: 0;
}

footer{
  background-color: black;
  color: white;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  padding: .5rem;
}